@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br/>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3 class="mb-30 title_color">Create a new account</h3>
            <div class="mt-10">
				<input style="border: 1px solid #ced4da;" class="single-input-primary" placeholder="Email ..." asp-for="Input.Email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>

            <div class="mt-10">
				<input style="border: 1px solid #ced4da;" class="single-input-primary" placeholder="Password ..." asp-for="Input.Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>

            <div class="mt-10">
				<input style="border: 1px solid #ced4da;" class="single-input-primary" placeholder="Confirm password ..." asp-for="Input.ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
            <hr />
            <button id="registerSubmit" type="submit" class="w-100 genric-btn primary" style="font-size: 20px;">Register</button>
        </form>
    </div>
</div>
<br/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
