@{
    this.ViewData["Title"] = "Gallery";
}

<section id="general">

    <div class="content-header">
        <h1>Edit general information</h1>
    </div>

    <div class="welcome text-left">
        <button class="genric-btn primary">Add new photo</button>

        <hr />
        <hr />

        <button class="genric-btn primary">Add new photo</button>
    </div>
</section>
