@model ContactInputModel
@{
    this.ViewData["Title"] = "Manage Contact";
}

<section id="general">

    <div class="content-header">
        <h1>Edit contact information</h1>
    </div>

    @if (this.TempData.ContainsKey("ContactEdit"))
    {
        <br />
        <div class="alert alert-success margins-temp">@this.TempData["ContactEdit"]</div>
    }

    <div class="welcome col-md-6">
        <form method="post">
            <div class="form-group row">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

             <div class="form-group row">
                 <div class="form-group d-md-inline-block" style="width:50%;">
                    <label>From</label>
                    <input asp-for="StartOfTheWorkingDayHour" class="form-control col-md-3 d-md-inline-block" /> h
                    <input asp-for="StartOfTheWorkingDayMinutes" class="form-control col-md-3 d-md-inline-block" /> min
                </div>
                

                <div class="form-group d-md-inline-block" style="width:50%;">
                    <label>To</label>
                    <input asp-for="EndOfTheWorkingDayHour" class="form-control col-md-3 d-md-inline-block" /> h
                    <input asp-for="EndOfTheWorkingDayMinutes" class="form-control col-md-3 d-md-inline-block" /> min
                </div>
                <span asp-validation-for="StartOfTheWorkingDayHour" class="text-danger"></span>
                <span asp-validation-for="EndOfTheWorkingDayHour" class="text-danger"></span>
            </div>
            <div class="justify-content-center">
                <button class="genric-btn primary mx-auto d-block">Apply changes</button>
            </div>
        </form>
    </div>

</section>
