@using HotelManagementSystem.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<vc:accommodations></vc:accommodations>
<vc:facilities></vc:facilities>

<section class="testimonial_area section_gap" style="background: white;">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Testimonial from our Clients</h2>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/general/image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <p>Wonderful place! Highly recommended!</p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                    </div>
                </div>
            </div>    
            <div class="media testimonial_item">
                <img class="rounded-circle" src="https://www.biiainsurance.com/wp-content/uploads/2015/05/no-image.jpg" style="width:80px;" alt="">
                <div class="media-body">
                    <p>Super place!</p>
                    <a href="#"><h4 class="sec_h4">Amy Jackson</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>