@using HotelManagementSystem.Web.InputModels.Area.Administration.ManageBookings
@model AccommodationSearchInputModel<HotelManagementSystem.Web.ViewModels.Bookings.AccommodationViewModel>
@{
    this.ViewData["Title"] = "Search";
}

<section class="container">
    <br />
	<h3 class="mb-30 title_color">Found result:</h3>

    @if (Model.Accommodations != null)
    {
        var accommodationsCount = 0;

	    <div class="section-top-border">
		    <div class="progress-table-wrap">
			    <div class="progress-table">
				    <div class="table-head">
					    <div class="serial" style="width:10%">#</div>
					    <div class="visit" style="width:30%">View</div>
					    <div class="visit" style="width:30%">Price</div>
					    <div class="visit" style="width:30%">Book now!</div>
				    </div>
                @foreach (var accommodation in Model.Accommodations)
                {
                    accommodationsCount++;

                    <div class="table-row">
					    <div class="serial" style="width:10%">@accommodationsCount</div>
					    <div class="visit" style="width:30%"> <img style="width: 100px; height: 100px; object-fit: cover; margin-right: 20px;" src="/general/image/rooms/@accommodation.ImageName" alt="accommodation">@accommodation.Name</div>
					    <div class="visit" style="width:30%">$@accommodation.Price.ToString("f2")</div>
					    <div class="visit" style="width:30%">
                            <form method="get" asp-action="Add">
                                <input type="hidden" asp-for="CheckIn" />
                                <input type="hidden" asp-for="CheckOut" />
                                <input type="hidden" asp-for="GuestsCount" />
                                <input type="hidden" id="Price" name="Price" value="@(accommodation.Price)" />
                                <input type="hidden" id="Id" name="Id" value="@accommodation.Id" />
                                <input type="submit" value="Book now!" class="genric-btn primary" />
                            </form>
                        </div>
				    </div>
                }
            </div>
        </div>
    </div>
    }
	else
	{
		<p>No available rooms found.</p>
	}
</section>
<br />