@model IEnumerable<string>
@{
    ViewData["Title"] = "Gallery";
}

<section class="gallery_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Royal Hotel Gallery</h2>
            <p>Who are in extremely love with eco friendly system.</p>
        </div>

        <div class="row imageGallery1" id="gallery">

            @{
                if (!Model.Any())
                {
                    <p>No photos found.</p>
                }
                else
                {
                    @foreach (var image in Model)
                    {
                        <div class="col-md-4 gallery_item">
                            <div class="gallery_img" style="width: 320px; height: 320px;">
                                <img src="/general/image/gallery/@image" alt="" style="width: 320px; height: 320px; object-fit: cover;">
                            </div>
                        </div>
                    }
                }
            }

        </div>
    </div>
</section>