@model HotelManagementSystem.Web.InputModels.Area.Administration.ManageBeds.BedTypeInputModel
@{
    this.ViewData["Title"] = "Edit";
}

@{
    this.ViewData["Title"] = "Edit";
}

<section id="general">

    <div class="content-header">
        <h1>Edit facility: <strong>@Model.Name</strong></h1>
    </div>

    <div class="welcome col-md-6">
        <form method="post">

            <div class="form-group row">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />

            <div class="justify-content-center">
                <button class="genric-btn primary mx-auto d-block">Apply changes</button>
            </div>
        </form>
    </div>
</section>
<br />