@model BedTypesListViewModel
@{
    this.ViewData["Title"] = "Manage Beds";
}

<section id="general">

    <div class="content-header">
        <h1>Edit beds prices</h1>
    </div>

    @if (this.TempData.ContainsKey("EditBedPrice"))
    {
        <br />
        <div class="alert alert-success margins-temp">@this.TempData["EditBedPrice"]</div>
    }

    <div class="welcome col-md-10">
        @{
            foreach (var bed in Model.Beds)
            {
                <div class="card d-inline-block" style="width: 18rem; margin-top: 10px; height: 210px; vertical-align: top;">

                    <div class="card-body">
                        <h5 class="card-title">@bed.Name</h5>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Price:</strong> $@bed.Price</li>
                    </ul>

                    <div class="card-body">
                        <a
                            class="genric-btn primary"
                            asp-area="Administration"
                            asp-controller="ManageBeds"
                            asp-route-id="@bed.Id"
                            asp-action="Edit">
                            Edit
                        </a>
                    </div>
                </div>
            }
        }
    </div>

    <br />
</section>