@model BookingStatusInputModel
@{
    this.ViewData["Title"] = "Reservation status";
}

<section id="general">

    <div class="content-header">
        <h1>Reservation status</h1>
    </div>
    <div class="welcome col-md-6">
        <form method="post" enctype="multipart/form-data">
            @if (Model.CheckIn == null)
            {
                <div class="form-group row">
                    <label asp-for="CheckIn"></label>
                    <input asp-for="CheckIn" class="form-control" />
                    <span asp-validation-for="CheckIn" class="text-danger"></span>
                </div>
            }

            @if (Model.CheckIn != null && Model.CheckOut == null)
            {
                <div class="form-group row">
                    <label asp-for="CheckOut"></label>
                    <input asp-for="CheckOut" class="form-control" />
                </div>
                <input type="hidden" asp-for="CheckOut" />
            }

            @if (!Model.IsPaid)
            {
                <div class="form-group row">
                    <input type="checkbox" asp-for="IsPaid" />
                    <label style="position: relative; top: 3px; left: 7px;">Is booking paid?</label>
                </div>
            }

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CheckIn" />
            <input type="hidden" asp-for="CheckOut" />
            <input type="hidden" asp-for="IsPaid" />

            <div class="justify-content-center">
                <button class="genric-btn primary mx-auto d-block">Change status</button>
            </div>
        </form>
    </div>

</section>
<br />